.character-grid-container {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.character-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2rem;
    max-width: 700px;
    height: fit-content;
}

.active-card {
    border: solid rgb(255, 0, 0) 2px;
    border-radius: 5px;
    margin: 2px;
    animation-name: changeColors;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    cursor: pointer;
}
.active-card img {
    width: 90px;
    height: 120px;
    margin-top: 5px;
    vertical-align: bottom;
    border: 2px solid transparent
}

.grid-card {
    margin: 2px;
    border: solid black 2px;
    animation-name: changeColors;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    cursor: pointer;
}
.grid-card img {
    width: 90px;
    height: 120px;
    margin-top: 5px;
    vertical-align: bottom;
    border: 2px solid transparent
}

.add-btn {
    /* transform: translateX(220px); */
    transform: translate(220px, -20px);
    background: rgb(182, 8, 8);
    width: 30px;
    height: 30px;
    border: solid 1px red;
    border-radius: 5px;
    color: silver;
    font-size: 23px;
    cursor: pointer;
    transition: 0.5s;
}

.add-btn:hover {
    border-radius: 50%;
    border: solid 1px purple
}


@keyframes changeColors {
    0% {
        background-color: rgb(115, 228, 228);
    }
    25% {
        background-color: rgb(56, 161, 161);
    }

    50% {
        background-color: rgb(11, 100, 100);
    }

    75% {
        background-color: rgb(56, 161, 161);
    }

    100% {
        background-color: rgb(115, 228, 228)
    }
}