.display-container {
    display: flex;
    text-align: center;
    justify-content: center;
    background: linear-gradient(-45deg, red, rgb(66, 0, 0));
    animation: gradient 15s ease infinite;
}
.display-card {
    margin: 2rem;
    background-color: rgb(151, 144, 161);
    border: solid 2px black;
    padding: 1rem;
    border-radius: 15px;
}
.display-image {
    height: 250px;
}
.attributes {
    /* background-color: rgb(59, 2, 2); */
    padding: 1px;
}
.tier-btn-container {
    margin: auto;
    margin-top: 6px;
    justify-content: space-evenly;
    display: flex;
    max-width: 230px;
}

.tier-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.tier-btn:active {
    background-color: red;
}