.display-container {
    display: flex;
    text-align: center;
    justify-content: center;
    background: linear-gradient(-45deg, red, rgb(66, 0, 0));
    animation: gradient 15s ease infinite;
}

.display-card {
    margin: 2rem;
    background-color: white;
    border: solid 2px black;
    padding: 1rem;
    border-radius: 15px;
}
.display-image {
    height: 250px;
}

