.global-main {
    background: linear-gradient(darkred, red, rgb(189, 21, 21), black);
    min-height: 100vh;
    
}

.global-main h1 {
    margin: 0;
    padding: 2rem;
    color: rgb(189, 189, 189);
    text-align: center;
}

.global-tiers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.global-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(30deg, black, rgb(126, 126, 126));
    margin: 0;
    margin-bottom: 2rem;
    width: 600px;
    height: 300px;
    transition: 0.5s;
    /* -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0); */
}
.global-container:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 10px 0px rgb(0, 0, 0);
}

.global-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110%;
    margin-top: 1.8rem;
    margin-bottom: 2rem;
}

.creator-title {
    margin: 0;
    transform: translateX(250px) rotate(-20deg) translateY(-40px);
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: red;
    border: 2px solid black;
    border-radius: 5px 5px 0 10px;
    padding: 0.5rem;
    font-size: 20px;
    width: fit-content;
    height: fit-content;
}

.global-tier {
    display: flex;
    align-items: center;
    margin: 0.5px;
    height: 40px;
    width: 80%;
    border: solid 2px black;
    background-color: grey;
}

.global-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93%;
    width: 50px;
    margin: 2px;
    font-size: 26px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
}

.global-image {
    height: 30px;
    margin-right: 5px;
}

.vote-buttons {
    display: flex;
    width: 250px;
    justify-content: space-between;
}

.no-vote {
    transform: translateY(10px);
    width: 100px;
    height: 25px;
    background-color: darkgray;
    border: solid 2px black;
    cursor: pointer;
}
.no-vote:hover {
    background-color: rgb(78, 78, 78);
    border: solid 2px black;
    color: silver;
}
.no-vote:active {
    background-color: rgb(133, 121, 121);
}

.agree-button {
    transform: translateY(10px);
    width: 100px;
    height: 25px;
    background-color: rgb(34, 202, 34);
    border: solid 2px black;
}

.disagree-button {
    transform: translateY(10px);
    width: 100px;
    height: 25px;
    background-color: rgb(182, 0, 0);
    border: solid 2px black;
}