.tierlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    background-color: rgb(24, 18, 18);
    margin: 0;
}

.tier-collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.tier {
    display: flex;
    align-items: center;
    margin: 5px;
    height: 60px;
    width: 80%;
    border: solid 2px black;
    background-color: grey;
}

.tier-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93%;
    width: 50px;
    margin: 2px;
    font-size: 26px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
}

.tier-img {
    height: 50px;
    margin-right: 5px;
}

#s-letter {
    background-color: purple;
}
#a-letter {
    background-color: rgb(91, 52, 199);
}
#b-letter {
    background-color: rgb(39, 39, 201);
}
#c-letter {
    background-color: rgb(41, 188, 199);
}
#f-letter {
    background-color: red;
}

.tier-btns {
    display: flex;
}
.bottom-btn {
    margin: 1rem;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.bottom-btn:active {
    transform: scale(0.9);
}

#save-tier {
    float: right;
    background-color: red;
    border: solid 2px red;
    font-weight: bold;
}
#save-tier:hover {
    background-color: darkred;
    border: solid 2px red;
    color: silver;
}


#global-btn {
    background-color: purple;
    border: solid 2px purple;
    text-decoration: none;
    color: silver;
    font-weight: bold;
}
#global-btn:hover {
    background-color: rgb(58, 12, 58);
    color: white;
}
